* {
    padding: 0;
    margin: 0;
    user-select: none; 
}

#universe {
    position: relative;
    background-image: url(src/images/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: crosshair;
}

.lumi {
    position: absolute;
    background-image: url(src/images/Illuminati.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    left: 300px;
    top: 400px;
}

.lumi.hit {
    animation: hit 1.5s normal linear infinite;
}

/* ANIMATIONS */

@keyframes hit { 
    0%   {transform: scale(1)  rotate(0deg);}
    25%  {transform: scale(.5) rotate(120deg);}
    50%  {transform: scale(.25) rotate(240deg);}
    100% {transform: scale(0) rotate(360deg);}
}

